html {
    background-color: blanchedalmond;
}

h1 {
    background-color: cadetblue;
    border-radius: 12px;
    padding: 16px;
}

hr {
    margin: 16px;
}

.messages {
    font-size: 12pt;
    border: 0px;
    border-radius: 12px;
    width: 75%;
    background-color:aquamarine;
    padding: 8px;
}

.text {
    border: 0px;
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
    background-color: aliceblue;
}

h3 {
    margin-right: 16px;
}

input {
    border: 0px;
    border-radius: 12px;
    margin: 4px 8px 4px 8px;
}

.messagebox {
    width: 80%;
}

.namebox {
    width: 90%;
}

.send {
    width: 100px;
}

form {
    display: flex;
    padding: 12px;
    background-color: cornflowerblue;
    width: 1000;
    border: 0px;
    border-radius: 12px;
    padding: 8px;
    margin: 4px;
}

.messagediv {
    display: flex;
    padding: 12px;
    width: 90%;
    float: right;
    border: 0px;
    border-radius: 12px;
    padding: 8px;
    margin: 4px;
    margin-bottom: 32px;
}

.namediv {
    display: flex;
    padding: 12px;
    width: 90%;
    border: 0px;
    border-radius: 12px;
    padding: 8px;
    margin: 4px;
    background-color: cornflowerblue;
}